/*Stylesheet for Drum Machine*/

#buttonGrid
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100%;
	border-radius: 10px;
	background-color: #2E2E2E;
	border: 5px ridge #8181F7;
	float: left;
	
}

#controlGrid
{
        width: 300px;
	margin-left: auto;
	margin-right: 300px;
	text-align: center;
	border-radius: 10px;
	background-color: #2E2E2E;
	border: 5px ridge #8181F7;
	float: right;
}

.text
{
	font-family:"Rockwell";
}

.drumTitle
{
	text-align: left;
	font-size: 25px;
	margin-left: 10px;
	font-style: italic;
	font-family: "Rockwell";
	width: 225px;
	color: white;
}

.label
{
	font-family:"Rockwell";
	display:inline;
	color: white;
	margin-right: 10px;
	font-size: 20px;
	font-style: bold;
}

.pHead
{
	font-size: 20px;
	font-style: bold;
}

body
{
	background-color: gray;
}

.on
{
	opacity: .6;
	border-width: 5px;
	border-style: ridge;
	border-color: #8181F7;
}

.on:hover
{
	opacity: .6;
}

.off
{
	opacity: 1;
	border-width: 5px;
	border-style: ridge;
	border-color: #8181F7;
}

.off:hover
{
	opacity: .6;
}

.buttons {
	border-radius:6px;
	border:1px solid #8181F7;
	display:inline-block;
	color: white;
	font-family:Rockwell;
	font-size:15px;
	font-weight:bold;
	padding: 6px 24px

}.buttons:hover {
	background-color: #8181F7;
}.buttons:active {
	
}